<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Friends</title>
</head>
<body>
    <p>
        <div style="height:15px">
            <div style="float:left"><a href="{{ url_for("mainhome") }}">主页</a></div>
            <div style="float:right">
                <a href="{{ url_for("home", name = username) }}">{{ username }}</a>
                <a href="{{ url_for("logout") }}"><input type="submit" value="登出"></a>
            </div>
        </div>
    </p>
    <hr>
    <div id="container" style="z-index: -100; left: 0px; top: 0px; width: 100%; height: 60px">
        <form action="{{ url_for("friend", name = username) }}" method="POST">
            <p>
                输入要搜索账号:<br>
                <input type="text" name="name" />
                <input type="submit" value="SEARCH">
            </p>
            {{ form.csrf_token }}
        </form>
    </div>
    <hr>
    <p>
        <a href="{{ url_for("home", name = username) }}"><input type="submit" value="主页"></a>
    </p>
    <div id="container" style="z-index: -100; left: 0px; top: 0px; width: 100%; height: 100%">
        <div id="menu" style="height:100%;width:40%;float:left;">
            <b>关注列表</b><br>
            {% if friends %}
            {% for friend in friends %}
            <div id="container">
                <div>
                    <p>
                        <h5><a href="{{ url_for("othershome", username = friend[0]) }}">{{friend[0]}}</a></h5>
                    </p>
                </div>
            {% endfor %}
            </div>
            {% else %}
            还没有好友
            {% endif %}
        </div>
        <div id="content" style="height:100%;width:60%;float:left;">
            <b>消息</b><br>
            {% if emails %}
            {% for email in emails %}
            <div id="container">
                <div>
                    <p>
                        <h5><a href="{{ url_for("othershome", username = email[0]) }}">{{ email[0] }}</a> : {{ email[1] }}</h5>
                        <h6>{{ email[2] }}</h6>
                    </p>
                </div>
                {% endfor %}
            </div>
            {% else %}
            还没有消息
            {% endif %}
        </div>
    </div>
</body>
</html>