<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
</head>
<body>
    <form action="{{ url_for("register") }}" method="POST">
        <p>
            User Name:<br>
            <input type="text" name="username" /><br>
        </p>
        <p>
            Password:<br>
            <input type="password" name="password" /><br>
        </p>
        <p>
            <input type="submit" value="sign up">
        </p>
        {{ form.csrf_token }}
    </form>
    <a href="login"><input type="submit" value="sign in"></a>
</body>
</html>